<div class="container">
  <header></header>
  <app-post></app-post>
  <app-profile></app-profile>
  <div class="d-flex flex-column w-25">
    <h1>{{ getRandomNumber() }}</h1>
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control mb-2" />
    <!-- <label for="name">Numbers</label> -->
    <select class="form-select" aria-label="Default select example">
      <option selected disabled>Open this select menu</option>
      <option
        *ngFor="let obj of numbersAsText"
        [selected]="obj.num === selectThis"
        [value]="obj.num"
      >
        {{ obj.num }}
      </option>
    </select>
    <button class="btn btn-dark mt-2 mb-4" (click)="onButtonClick()">
      Click
    </button>
    <app-directives></app-directives>
  </div>
</div>
