<section class="post-container">
  <div
    class="card w-25 mb-4 post-container"
    *ngFor="let post of posts; index as i"
  >
    <div class="image-container">
      <img
        role="button"
        [src]="post.image"
        class="card-img-top"
        alt="user"
        (dblclick)="onDoubleClickToLike(i)"
      />
      <div class="instagram-heart" [class.animate-heart]="post.anime"></div>
    </div>
    <div class="card-body">
      <p class="card-text">{{ post.caption }}</p>
      <div class="icons-container d-flex align-items-center">
        <ng-container *ngIf="post.isLiked; else isNotLiked">
          <i
            class="bi bi-heart-fill"
            role="button"
            (click)="toggleLikeButton(i)"
          ></i>
        </ng-container>
        <ng-template #isNotLiked>
          <i
            class="bi bi-heart"
            role="button"
            (click)="toggleLikeButton(i)"
          ></i>
        </ng-template>
        <i class="bi bi-chat ms-2" role="button" (click)="toggleComment(i)"></i>
      </div>
    </div>
    <ng-container *ngIf="post.isCommentOpened">
      <app-comments [comments]="comments" (sendComment)="ReceiveComment($event)"></app-comments>
    </ng-container>
  </div>
</section>
